.content {
  display: grid;
  padding-left: 350px;
}

.head-container {
  display: flex;
}

.main-header{
  position: fixed;
  background-color: #c9cfc7;
}

th {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  height: 50px;
  width: 300px;
}
